[Unit]
Description=Run oci-secretsync periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=6h
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target
