[Unit]
Description=tmpfs for container secrets
After=network.target

[Mount]
What=tmpfs
Where=/run/secrets
Type=tmpfs
Options=mode=0700,noexec,nosuid,nodev,size=8M

[Install]
WantedBy=multi-user.target
